<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - HiFi Delivery Eats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(to top, #f17272, #f8ff7c, #ff6565);
            background: url("{{ url_for('static', filename='images/background_image.jpg') }}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/hifilogo.png') }}" alt="HiFi Delivery Eats Logo">
        </div>
        
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="{{ url_for('signin')}}">Login</a>
            <a href="{{ url_for('signup')}}">Register</a>
            <a href="#">Contact</a>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="form-section">
                <h1>Forgot Password?</h1>
                <h3>Please reset your password</h3>
                <form action="{{ url_for('reset_password') }}" method="POST">
                    <label for="email"><b>Email</b></label>
                    <input type="email" id="email" name="email" required>

                    <label for="new-password"><b>Enter new Password</b></label>
                    <input type="password" id="new-password" name="new_password" required>
                    
                    <label for="confirm-password"><b>Confirm new Password</b></label>
                    <input type="password" id="confirm-password" name="confirm_password" required>
                    
                    <button type="submit">Next</button>
                </form>
                <p class="center-text">or continue with</p>
                <div class="social-icons">
                    <a href="{{ url_for('google_login') }}"><img src="{{ url_for('static', filename='images/google.jpg') }}" alt="Google"></a>
                    <a href="{{ url_for('facebook_login') }}"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
                    <a href="{{ url_for('twitter_login') }}"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter"></a>
                    <img src="{{ url_for('static', filename='images/x_logo.jpg') }}" alt="X">
                </div>
            </div>
            <div class="image-section">
                <img src="{{ url_for('static', filename='images/pancakes.jpg') }}" alt="Delicious Food">
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
</body>
</html>
