{% extends 'base.html' %}

{% block title %}Sales Trends{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales_trends.css') }}">
{% endblock %}
{% block content %}
<div class="mainly">
    <h1>Sales Trends</h1>

    {% if plot_url %}
    <img src="data:image/png;base64,{{ plot_url }}" alt="Sales Trends Chart" style="max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;">
    {% else %}
    <p>No chart available.</p>
    {% endif %}

    <form method="POST" action="{{ url_for('sales_trends') }}">
        <div>
            <label for="period">Period:</label>
            <select id="period" name="period">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
        </div>
        
        
        
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Generate Chart</button>
    </form>
    <br>
    <br>
    <a href="{{ url_for('restaurant_dashboard') }}" class="btn">Back to Dashboard</a>
</div>
{% endblock %}
