<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reCAPTCHA Demo: Simple Page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <form action="?" method="POST">
        <!-- reCAPTCHA widget with site key -->
        <div class="g-recaptcha" data-sitekey="6Ld9yb8qAAAAAFAO_fVL-fECEtTHM9cwDgo2_fID"></div>
        <br/>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
