<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - HiFi Delivery Eats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo">
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
        </div>
    </nav>
    <div class="main-section">
        <div class="container">
            <div class="left-section">
                <p>Welcome to Hifi Delivery Eats</p>
                <h1>Sign In</h1>
                <form action="{{ url_for('signin') }}" method="POST">
                    <label for="phone-email">E-mail</label>
                    <input type="text" id="phone-email" name="phone-email" placeholder="abc@gmail.com" required>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                    
                    <br/>
                    <button class="btn" type="submit">Next</button>
                </form>
                <div class="flash-messages">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul>
                                {% for category, message in messages %}
                                    <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="link">
                    <p id="para">Don't have an account? <a href="{{ url_for('signup') }}" class="link">Sign Up</a>
                    <a href="{{ url_for('forgot') }}">Forgot Password?</a></p>
                </div>
                <div class="social-icons">
                    <p>or continue with</p>
                    <div class="icons">     
                        <a href="{{ url_for('google_login') }}"><img src="{{ url_for('static', filename='images/google.jpg') }}" alt="Google"></a>
                        <a href="{{ url_for('facebook_login') }}"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
                        <a href="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter"></a>
                    
                    </div>
                </div>
            </div>
            <div class="right-section">
                <img src="{{ url_for('static', filename='images/pancakes.jpg') }}" alt="Pancakes">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/signin.js') }}"></script>
</body>
</html>

